.mainPanel {
    padding: 0 30px 15px 30px;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}

/* .mainPanel::-webkit-scrollbar {
    width: 10px;
}

.mainPanel::-webkit-scrollbar-track {
    background: rgb(79, 91, 102);   
    background: lightgray;   
}

.mainPanel::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
} */

.navBar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    z-index: 100;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  
  }
  
  .menuIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    color: rgba(97, 219, 251, 1);
    cursor: pointer;
  
  }
  
  .panelLogo {
    cursor: pointer;
    width: 220px;
    padding: 23px 8px;
    margin: 0 35px;
  }

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(79, 91, 102);
    border-radius: 10px;
    color: white;
    width: 70%;
    padding: 8px 12px;
    margin: 50px auto 0 auto;
    margin-bottom: 8px;
}

.searchBar>input {
    background: none;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 16px;
    padding: 8px;
    width: 100%;
}

.searchBar>input::placeholder {
    color: #282c34;
}

.searchIcon {
    font-size: 24px;
    font-weight: 900;
    color: #282c34;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.searchIcon:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.5);
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}

@media only screen and (max-width: 768px) {
    .mainPanel {
        padding: 0 0 15px;
    }

    .searchBar {
        width: calc(100% - 50px);
        margin: 30px auto 0;
    }
}