.card {
    position: relative;
    padding: 15px;
    width: 200px;
    height: 300px;
    border-radius: 12px;
    background-color: rgb(79, 91, 102);
    margin: 15px 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 300px;
    background: rgba(0,0,0);
    opacity: 0;
    border-radius: 12px;
}

.movieContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgb(79, 91, 102);
    color: white;
    border-radius: 0 0 12px 12px;
}

.type {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 3px;
}

.title {
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgba(97, 219, 251, 1);
}

.card:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.3);
}

.card:hover > .movieContent {
    transition: 0.3s ease-in-out;
    background: rgba(79, 91, 102, 0.1);
}

.card:hover > .overlay {
    opacity: 0.5;
}

