* {
    transition: 0.2s ease-in-out;
}

.sidePanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border-right: 1px solid rgb(79, 91, 102);
    height: 100vh;
    padding: 0 0 15px 0;
    overflow-y: auto;
    background-color: #282c34;
}

.sidePanelContainer::-webkit-scrollbar {
    width: 5px;
}

.sidePanelContainer::-webkit-scrollbar-track {
    background: rgb(79, 91, 102);
    background: lightgray;
}

.sidePanelContainer::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

.panelLogo {
    cursor: pointer;
    width: 250px;
    padding: 23px 8px 23px 8px;
}

.panelContent {
    width: 100%;
}

.panelHeader {
    position: sticky;
    top: 0;
    padding: 12px 15px;
    color: whitesmoke;
    background: rgb(79, 91, 102);
    font-size: 16px;
}

.panelItem {
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    margin: 8px 10px;
    border-radius: 8px;
}

.panelItem>* {
    color: rgba(97, 219, 251, 0.8);
}

.panelItem:hover {
    background-color: rgba(79, 91, 102, 0.5);
    transition: ease-in-out 0.2s;
}

.panelIcon {
    font-size: 25px;
    margin-right: 10px;
}

.activeTab {
    background-color: rgba(79, 91, 102, 0.5);
}

.activeTab>* {
    color: rgba(97, 219, 251, 1);
    transition: ease-in-out 0.2s;
}

/* ------------ Responsive View -------- */

@media only screen and (max-width: 768px) {
    .sidePanelContainer {
        position: fixed;
        top: 75px;
        z-index: 100;
        width: 100%;
        background-color: #282c34;
        left: -100%;
        transition: 0.3s ease-in;

    }

    .sidePanelContainerSmall {

        box-shadow: 0 0 10px rgba(79, 91, 102, 0.5);
        left: 0;
        transition: 0.3s ease-in;
    }

    .sidePanelContainer::-webkit-scrollbar {
        display: none;
    }
}