.App {
  display: flex;
  flex-direction: row;
}

.panelIcon {
  font-size: 25px;
  margin-right: 10px;
}

.noMovies {
  color: antiquewhite;
  font-weight: normal;
}

.preloadContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.preloader {
  width: 200px;
  margin: auto;
}