.App {
  display: flex;
  flex-direction: row;
}

.panelIcon {
  font-size: 25px;
  margin-right: 10px;
}

.noMovies {
  color: antiquewhite;
  font-weight: normal;
  margin: auto;
}

.preloadContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.preloader {
  width: 200px;
  margin: auto;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  z-index: 100;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);

}

.menuIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 30px;
  color: rgba(97, 219, 251, 1);
  cursor: pointer;

}

.panelLogo {
  cursor: pointer;
  width: 220px;
  padding: 23px 8px;
  margin: 0 35px;
}



@media only screen and (max-width: 768px) {
  .mainPanel {
      padding: 0 0 15px;
  }

  .searchBar {
      width: calc(100% - 50px);
      margin: 30px auto 0;
  }
}